@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* background-color: #1f2937; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  /* margin: 0; */
  /* min-height: 100vh; */
  display: flex;

  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainheader {
  background-color: #1f2937;
}

.header {
  font-size: 24px;
  color: #f9faf8;
}

.headerline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headerlinks ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #e5e7eb;
}
.headerlinks a {
  font-size: 18px;
  color: #e5e7eb;
}

.group {
  display: flex;
  flex-direction: row;
}

.placeholder {
  padding: 60px 100px;
  width: 50px;
  height: 20px;
  background-color: grey;
  margin-top: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.group1 {
  display: flex;
  flex-direction: column;
  padding: 80px 150px;
  margin: 10px;
}

.heroSection {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.heroSection1 {
  font-size: 16px;
  color: #f9faf8;
  font-weight: 100;
}
.secondgroup {
  display: flex;
  flex-direction: column;
}
.features {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.box-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

/* Individual boxes */
.box {
  width: 150px;
  height: 150px;
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Text below boxes */
p {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  color: #1f2937;
}

.testimon-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.testimonial {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  display: flex;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
.testimonial1 {
  background-color: #e5e7eb;
  font-size: 24px;
  font-weight: 800;
  color: #1f2937;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 25px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.action-container {
  display: flex;
  /* flex-direction: column; */
  width: 900px;
  height: 100px;
  background-color: #3882f6;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  align-self: center;
  padding: 20px;
  margin: 90px 900px;
}

.action-container button {
  background-color: #3882f6;
  border: 1px solid #f9faf8;
  border-radius: 8px;
}
.action {
  font-size: 24px;
}
.calltoaction-text-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  /* justify-content: center; */
}
.action1 {
  font-weight: 100;
}

.footer {
  height: 72px;
  background: #1f2937;
  color: #e5e7eb;
  font-size: 15px;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  font-family: "roboto";
  color: #e5e7eb;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
}
